.box {
	background: none;
	display: block;
	height: 420px;
	margin: auto;
	margin-top: 8%;
	position: relative;
	width: 600px;
}

.first_rectangle {
	background: red;
	height: 80%;
	left: 10%; /*left = (100 - width) / 2*/
	position: absolute;
	top: 10%; /*left = (100 - width) / 2*/
	width: 80%;
}

.second_rectangle {
	background: blue;
	bottom: 0;
	height: 66.6%;
	position: absolute;
	width: 100%;
}

.third_rectangle {
	background: #f3a900;
	bottom: 0;
	height: 50%;
	position: absolute;
	width: 100%;
}
